// keyframes mixin
@mixin keyframes($name) {
  // добавляем кейфреймы
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }

  // добавляем классы
  .#{$name} {
    animation-name: $name;
    -webkit-animation-name: $name;
    -moz-animation-name: $name;
    -ms-animation-name: $name;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@include keyframes(flash) {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

// перемещения волн
@include keyframes(move-footer) {
  from, to {
    background-position-x: 0;
  }
  50% {
    background-position-x: -500px;
  }
}

@include keyframes(move-footer-container) {
  from, to {
    background-position-x: 0;
  }
  50% {
    background-position-x: 500px;
  }
}
// конец
