.levels {
	position: relative;
	width: 100%;
	text-align: center;
	// display: flex;
	// align-items: center;
	// justify-content: center;
}

.levels:after {
	content: '';
	display: block;
	clear: both;
	line-height: 0;
}

.levels-complete, .levels-uncomplete {
	float: left;
	display: inline-block;
	vertical-align: middle;
	padding: 7.5rem 0 0;
	max-width: 400px;
	width: 25%;
}

.levels-complete {
	text-align: right;
}

.levels-uncomplete {
	text-align: left;
}

.levels-current {
	float: left;
	display: inline-block;
	vertical-align: middle;
	margin-top: 1rem;
	padding: 0 1.5rem;
	min-width: 30rem;
	max-width: 60rem;
	width: 100%;
}

.levels-current .workspace {
	background: #ffffff;
	border-radius: 1.2rem;
	box-shadow: 0 10px 35px rgba(0,0,0,.5);
	margin-bottom: 2rem;
	padding: 3.5rem 4.5rem;
	min-height: 25rem;
}

.levels__item-wrap {
	float:left;
	margin: 0 1rem;
	height: 12rem;
}

.levels-complete .levels__item-wrap {
	float: right;
}

.levels__item-wrap:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0;
}

.levels__item {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	background: linear-gradient(358.08deg, #3023AE 0%, #53A0FD 100%, #B4EC51 100%);
	border-radius: 50%;
	color: #ffffff;
	width: 10rem;
	height: 10rem;
	opacity: .63;
	text-align: center;
	text-decoration: none;
}

.levels__item-flex {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.levels__item-content {
	opacity: .22;
}

.levels__item-content span {
	display: block;
}

.levels__item-content .number {
	font-size: 3.6em;
	font-weight: 300;
	line-height: 1;
}

.levels__item-content .caption {
	font-size: 1.8em;
}

.levels-complete .levels__item {
	background: #ffffff;
	color: #3023AE;
	opacity: 1;
}

.levels-complete .levels__item-content {
	opacity: 1;
}

.levels-current .wording {
	margin: 0 0 3.5rem;
}

.wording__stage {
	position: relative;
	margin-top: 2rem;
	opacity: .5;
	text-align: left;
}

.wording__stage:first-child {
	margin-top: 0;
}

.wording__stage--active {
	opacity: 1;
}

.wording__stage .wording__item {
	padding: .8rem 1.7rem;
}

.wording__item  {
	position: relative;
	background: #ffffff;
	box-shadow: 0 2px 7px rgba(0,0,0,.15);
	border-radius: 2rem;
	color: #1C214E;
	margin-top: 2rem;
	padding: .8rem 4.5rem;
	font-size: 1.6rem;
	text-align: left;
}
.wording__item:first-child{
	margin-top: 0;
}
.wording__item_part {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	margin-left: .8rem;
}
.wording__item_part:first-child {
	margin-left: 0;
}

.wording__item_part span {
	display: inline-block;
	vertical-align: middle;
}
.wording__item-number {
	color: #F78279;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	margin-right: .8rem;
}
