<div class="ttl" *ngIf="level">{{ ttl }}</div>

<div class="form">

	<div class="levels">

		<div class="levels-complete">
			<a class="levels__item" *ngFor="let item of levelsComplete;">
				<div class="levels__item-flex">
					<div class="levels__item-content">
						<span class="number">{{ item.id+1 }}</span>
						<span class="caption">level</span>
					</div>
				</div>
			</a>
		</div>

		<div class="levels-current">
			<div class="workspace"></div>
			<div class="wording">
				<div class="wording__item">Vestibulum rutrum quam vitae fringilla tincidunt.</div>
				<div class="wording__item">Vestibulum rutrum quam vitae fringilla tincidunt.</div>
				<div class="wording__item">Vestibulum rutrum quam vitae fringilla tincidunt.</div>
				<div class="wording__item">Vestibulum rutrum quam vitae fringilla tincidunt.</div>
			</div>
		</div>

		<div class="levels-uncomplete">
			<a class="levels__item" *ngFor="let item of levels;" [routerLink]="['../', item.id]">
				<div class="levels__item-flex">
					<div class="levels__item-content">
						<span class="number">{{ item.id+1 }}</span>
						<span class="caption">level</span>
					</div>
				</div>
			</a>
		</div>

	</div>

	<div class="form__item form__item-btn" *ngIf="level && level.id + 1 < length">
		<button class="btn" [routerLink]="['../', level.id + 1]">Next level</button>
	</div>

</div>