<div class="ttl" *ngIf="level">{{ level.name }}</div>

<timer [finish]="timerStop"></timer>

<div class="levels" *ngIf="level">

	<div class="levels-complete">
		<div class="levels__item-wrap" *ngFor="let item of levels | reverse" [hidden]="item.id > level.id || item.id == 0">
			<a class="levels__item"
					[ngStyle]="{'font-size':10-2*(level.id-item.id)+'px','width':10-2*(level.id-item.id)+'rem','height':10-2*(level.id-item.id)+'rem'}">
				<div class="levels__item-flex">
					<div class="levels__item-content">
						<span class="number">{{ item.id }}</span>
						<span class="caption">level</span>
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="levels-current" *ngIf="level.id == 0">
		<div class="workspace">
			<p *ngFor="let item of sentences">{{ item }}</p>
		</div>
	</div>

	<div class="levels-current" *ngIf="level.id == 1">
		<div class="workspace">
			<div class="wording__item" *ngFor="let item of workspaceSentences; let i = index;" (click)="removeFromList(item, i)">{{ item }}</div>
		</div>
		<div class="wording">
			<div class="wording__item" *ngFor="let item of wordingSentences; let i = index;" (click)="addToList(item, i)">{{ item }}</div>
		</div>
	</div>

	<div class="levels-current" *ngIf="level.id == 2">
		<div class="wording">
			<div class="wording__stage" *ngFor="let sentence of wordMatrix; let ind = index;" [ngClass]="{'wording__stage--active': ind == 0}">
				<div class="wording__item wording__item_part" *ngFor="let item of sentence.source; let i = index;" (click)="addWord(sentence, item, i)">
					{{ item }}
				</div>
				<div class="wording__item">
					<span class="wording__item-number">{{ (ind + 1) + '. ' }}</span>
					<span *ngFor="let item of sentence.target; let i = index;" (click)="removeWord(sentence, item, i)">{{ item + ' ' }}</span>
					<span [hidden]="sentence.target.join(' ') != sentences[ind]" style="margin-left: 350px;">&radic;</span>
				</div>
			</div>
		</div>
	</div>

	<div class="levels-current" *ngIf="level.id == 3">
		<div class="wording">
			<div class="wording__item" *ngFor="let item of inputSentences; let i = index;">
				<input type="text" [(ngModel)]="inputSentences[i]" placeholder="Input the sentense #{{ i+1 }}"/>
			</div>
		</div>
	</div>

	<div class="levels-current" *ngIf="level.id == 4">
		<div class="workspace">
			<textarea [(ngModel)]="inputTextArea" class="form__ctrl form__ctrl-textarea"></textarea>
		</div>
	</div>

	<div class="levels-uncomplete">
		<div class="levels__item-wrap" *ngFor="let item of levels" [hidden]="item.id <= level.id">
			<a class="levels__item"
					[ngStyle]="{'font-size':12-2*(item.id-level.id)+'px','width':12-2*(item.id-level.id)+'rem','height':12-2*(item.id-level.id)+'rem'}"
					[routerLink]="['../', item.id]">
				<div class="levels__item-flex">
					<div class="levels__item-content">
						<span class="number">{{ item.id }}</span>
						<span class="caption">level</span>
					</div>
				</div>
			</a>
		</div>
	</div>

</div>

<div class="form__item form__item-btn" *ngIf="level && level.id < length">
	<button *ngIf="level.id < length - 1" class="btn" [routerLink]="['../', level.id + 1]">Next level</button>
	<button *ngIf="level.id == length - 1" class="btn" [routerLink]="['/result']">Finish</button>
</div>
