<div class="ttl" *ngIf="level">{{ level.name }}</div>

<timer [timerStop]="timerStop"></timer>

<div class="levels">
  <div class="levels-complete" *ngIf="level">
    <div class="levels__item-wrap" *ngFor="let item of levels | reverse" [hidden]="item.id > level.id || item.id == 0">
      <a class="levels__item"
         [ngStyle]="{'font-size':10-2*(level.id-item.id)+'px','width':10-2*(level.id-item.id)+'rem','height':10-2*(level.id-item.id)+'rem'}">
        <div class="levels__item-flex">
          <div class="levels__item-content">
            <span class="number">{{ item.id }}</span>
            <span class="caption">level</span>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="levels-current" [ngSwitch]="level && level.id">
    <router-outlet></router-outlet>
  </div>

  <div class="levels-uncomplete" *ngIf="level">
    <div class="levels__item-wrap" *ngFor="let item of levels" [hidden]="item.id <= level.id || level.id == 0">
      <a class="levels__item"
         [ngStyle]="{'font-size':12-2*(item.id-level.id)+'px','width':12-2*(item.id-level.id)+'rem','height':12-2*(item.id-level.id)+'rem'}"
         [routerLink]="['/level', item.id]">
        <div class="levels__item-flex">
          <div class="levels__item-content">
            <span class="number">{{ item.id }}</span>
            <span class="caption">level</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="form__item form__item-btn" *ngIf="level && level.id < length">
  <button *ngIf="level.id < length - 1" class="btn" [routerLink]="['/level', level.id + 1]">Next level</button>
  <button *ngIf="level.id == length - 1" class="btn" [routerLink]="['/result']">Finish</button>
</div>




