@import '../shared/animate';

.welcome-logo {
  width: 493.1px;
  height: 62.5px;
  display: inline-block;
  background: url(../../assets/logo.svg) no-repeat;
  background-size: contain;
  cursor: pointer;
  outline: none;
  margin-top: 52px;

  animation: flash 1s linear infinite;
  animation-play-state: paused;
  animation-fill-mode: both;
}

//.logo:hover {
//  opacity: .5;
//}

.welcome-logo:hover {
  animation-play-state: running;
}

.ttl {
  margin-top: 272px;
}
