@import url('https://fonts.googleapis.com/css?family=Lato');
@font-face {
	font-family: 'Proxima Nova';
	src: url('assets/proxima/hinted-ProximaNova-Light.eot');
	src: url('assets/proxima/hinted-ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('assets/proxima/hinted-ProximaNova-Light.woff') format('woff'),
		url('assets/proxima/hinted-ProximaNova-Light.ttf') format('truetype'),
		url('assets/proxima/hinted-ProximaNova-Light.svg#ProximaNova-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('assets/proxima/hinted-ProximaNova-Regular.eot');
	src: url('assets/proxima/hinted-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('assets/proxima/hinted-ProximaNova-Regular.woff') format('woff'),
		url('assets/proxima/hinted-ProximaNova-Regular.ttf') format('truetype'),
		url('assets/proxima/hinted-ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('assets/proxima/hinted-ProximaNova-Bold.eot');
	src: url('assets/proxima/hinted-ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('assets/proxima/hinted-ProximaNova-Bold.woff') format('woff'),
		url('assets/proxima/hinted-ProximaNova-Bold.ttf') format('truetype'),
		url('assets/proxima/hinted-ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('assets/proxima/hinted-ProximaNova-Semibold.eot');
	src: url('assets/proxima/hinted-ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('assets/proxima/hinted-ProximaNova-Semibold.woff') format('woff'),
		url('assets/proxima/hinted-ProximaNova-Semibold.ttf') format('truetype'),
		url('assets/proxima/hinted-ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('assets/proxima/hinted-ProximaNova-Extrabld.eot');
	src: url('assets/proxima/hinted-ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
		url('assets/proxima/hinted-ProximaNova-Extrabld.woff') format('woff'),
		url('assets/proxima/hinted-ProximaNova-Extrabld.ttf') format('truetype'),
		url('assets/proxima/hinted-ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
	font-weight: 800;
	font-style: normal;
}

html {
	height: 100%;
	box-sizing: border-box;
	font-size: 10px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	margin: 0;
	position: relative;
	font: 10px/1.5 'Proxima Nova', Arial, Helvetica, sans-serif;
	/* For older browsers */
	background: url('./assets/rectangle-8.png') fixed;
	/* Rectangle 8: */
	background: linear-gradient(-180deg, #3023AE 0%, #53A0FE 100%, #B4ED50 100%) no-repeat fixed;
}

a {
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
}

p {
	color: #1C214E;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem; 
}

._center {
	text-align: center;
}

.btn-wrap {
	padding: 3.5rem 0 2.5rem;
	text-align: center;
}

.btn {
	height: 40px;
	border: 1px solid #F78279;
	border-radius: 20px;	
	background-color: #F78279;
	box-shadow: 0 3px 10px rgba(57,57,57,.5);
	color: #ffffff;
	cursor: pointer;
	font-size: 1.8rem;
	font-weight: 600;
	outline: none;
	padding: 0 66px;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.btn:hover {
	background-color: #DD7067;
	border-color: #DD7067;
}

.btn:active {
	background-color: #C6645C;
	border-color: #C6645C;
}

.ttl {
	color: #ffffff;
	font-size: 5.2rem;
	font-weight: 300;
	text-align: center;
}

.pre-ttl {
	color: #ffffff;
	font-size: 2.4rem;
	font-weight: 300;
	margin: 1rem 0 5rem;
	text-align: center;
}

.b-form {
	margin: 0 auto;
	min-width: 300px;
	max-width: 600px;
}

.form {
	position: relative;
	width: 100%;
}

.form__item {
	padding: 1.5rem 0;
}

.form__item-textarea {
	background: #ffffff;
	border-radius: 12px;
	border: 1px solid #ffffff;
	box-shadow: 0 10px 35px rgba(0,0,0,.5);
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	padding: 3.5rem 4.5rem;
	width: 100%;
}

.form__item-btn {
	padding: 3.5rem 0 2.5rem;
	text-align: center;
}

.form__ctrl {
	background: #ffffff;
	border: 0;
	color: #1C214E;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	outline: none;
	width: 100%;
}

.form__ctrl-textarea {
	min-height: 250px;
	resize: none;
}

.done {
	position: absolute;
	display: block;
	top: 50%;
	right: 1.7rem;
	margin-top: -6px;  
	background: url('./assets/done.svg') 0 0 no-repeat;
	width: 17px;
	height: 12px;
}